<div class="wrapper">
  <section  class="sign-in-page">

    <div class="container p-0">
      <div class="row no-gutters">
        <div class="col-md-6 text-center pt-5">
          <div class="sign-in-detail text-white">
            <a class="sign-in-logo mb-5" href="#"><img src="assets/images/logo-full.png"
                                                       class="img-fluid" alt="logo"></a>
            <div class="sign-slider overflow-hidden ">
              <ul class="swiper-wrapper list-inline m-0 p-0 ">
                <li class="swiper-slide">
                  <img src="assets/images/login/1.png" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">Find new friends</h4>
                  <p>It is a long established fact that a reader will be distracted by the readable
                    content.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div style="margin-top: -20px" class="col-md-6 bg-white pt-5 pt-5 pb-lg-0 pb-5">
          <div class="sign-in-from">
            <h1 class="mb-0">Sign Up</h1>
            <form class="mt-4" [formGroup]="formUser" (ngSubmit)="register()">
              <div class="form-group">
                <input type="text" class="form-control mb-0" id="name" placeholder="Your Full Name" formControlName="name">
                <p *ngIf="formUser.get('name')?.errors?.['required']&& formUser.get('name')?.touched" style="color: red">Name required</p>
                <i class="icon_lock_alt"></i>
              </div>
              <div class="form-group">
                <input type="email" class="form-control mb-0" id="email" placeholder="Email" formControlName="email">
                <p *ngIf="formUser.get('email')?.errors?.['pattern']" style="color: red">Syntax error, exam: abc@xyz.ccc</p>
                <p *ngIf="formUser.get('email')?.errors?.['required'] && formUser.get('email')?.touched" style="color: red">Email is required</p>
                <i class="icon_lock_alt"></i>
              </div>
              <div class="form-group">
                <input type="text" class="form-control mb-0" id="username" placeholder="Username" formControlName="username">
                <p *ngIf="formUser.get('username')?.errors?.['required'] && formUser.get('email')?.touched" style="color: red">Username is required</p>
              </div>
              <div class="form-group">
                <input type="password" class="form-control mb-0" id="password" placeholder="Password" formControlName="password">
                <p *ngIf="formUser.get('password')?.errors?.['minlength']" style="color: red">Must be more than 6 characters .</p>
                <p *ngIf="formUser.get('password')?.errors?.['maxlength']" style="color: red">Must be not more than 32 characters .</p>
                <p *ngIf="formUser.get('password')?.errors?.['required'] && formUser.get(['password'])?.touched" style="color: red">Password required</p>

              </div>
              <div class="form-group">
                <input type="password" class="form-control mb-0" id="passwordConfirm"
                       placeholder="Password Confirm" formControlName="confirmPassword">
                <p *ngIf="formUser.get('confirmPassword')?.errors?.['required'] && formUser.get('confirmPassword')?.touched" style="color: red">Confirm password required</p>
                <i class="icon_lock_alt"></i>
              </div>
              <div class="form-group">
                <input type="text" class="form-control mb-0" id="phone" placeholder="Phone" formControlName="phone">
                <p *ngIf="formUser.get('phone')?.errors?.['required'] && formUser.get('phone')?.touched" style="color: red">Phone number is required</p>
                <p *ngIf="formUser.get('phone')?.errors?.['pattern']" style="color: red">Must be a 10-digit numbers</p>
                <i class="icon_lock_alt"></i>
              </div>
              <div class="form-group">
                <input type="date" class="form-control mb-0" id="date" placeholder="Birthday" formControlName="birthday">
              </div>
              <div class="form-group">
                <select type="date" class="form-control mb-0" id="gender" formControlName="gender" >
                  <option value="" disabled>Select an option</option><option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="d-inline-block w-100">
                <button type="submit" class="btn btn-primary" [disabled]="!formUser.valid" >Sign Up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
